[submodule "bridge-foundry/lib/forge-std"]
	path = bridge-foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "bridge-foundry/lib/solmate"]
	path = bridge-foundry/lib/solmate
	url = https://github.com/transmissions11/solmate
